$c-light		: #FAFAFA;
$c-main			: #A0CAB5;
$c-dark			: #2E3236;
$c-accent		: #F38A8A;

$font-title: 'Bebas Neue', sans-serif;
$font-primary: 'Oxygen', sans-serif;
$font-p: 'Pontano Sans', sans-serif;

$fs: 180px;
$nav-height: 120px; 
$row-width: 1000px;